.todo-item {
    display: flex;
    position: relative;
    width: 40%;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    margin: 0.4rem 0;
    left: 29%;
    top: -7rem;
    box-shadow:rgba(100, 99, 98, 0.452) 5px 5px 40px;
    background-color: aliceblue;
}
  
.todo-item p {
    width: 70%;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  text-decoration-color: black;
  color: rgb(172, 170, 170);
}

.todo-item .check {
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor: pointer;
}

.todo-item .check--active {
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor: pointer;
}
  
.todo-container-item .close {
      width: 1.2em;
      height: 1.2em;
      border: none;
      cursor: pointer;
}
    

