.counter {
    background: url('/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 20rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}
.title{
    color: white;
    position: relative;
    top:5rem ;
    display: flex;
}
.counter span {
    font-weight: bold;
}
 